<h1>Welcome {{session.username}}</h1>
<h4>Your Stories</h4>
{{#if stories}}
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each stories}}
    <tr>
      <td><a href="/stories/{{_id}}">{{title}}</a></td>
      <td>{{formatDate date 'MMMM Do YYYY'}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td>
        <a href="/stories/edit/{{_id}}" class="btn left-align"><i class="fa fa-pencil"></i> Edit</a>

        <form action="/stories/{{_id}}?_method=DELETE" method="post" id="delete-form">
          <button class="btn red" type="submit"><i class="fa fa-remove"></i> Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <h5>You have no Stories yet</h5>
{{/if}}