<div class="row">
  <h3>{{story.title}}</h3>
  <div class="col s12 m8">    
    <div class="card story">
      <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
      {{{story.description}}}
    </div>

    {{#if story.allowComments}}
    <div class="card">
      <div class="card-content">
        <!--<span class="card-title">Comments</span>-->
        {{#if session.username}}
        <form action="/stories/{{story._id}}/comments" method="post">
          <div class="input-field">
            <textarea name="commentText" class="materialize-textarea"></textarea>
            <label for="commentText">Add comment</label>
            <input type="submit" value="Submit" class="btn">
          </div>
        </form>
        {{else}}
        <p>
          Please <a href="/auth/login?return=/stories/{{story._id}}">Log in</a> to leave a comment
        </p>
        {{/if}}
      </div>
    </div>
    
    {{#each story.comments}}
    <div class="card">
      <div class="card-content">
        <h5>{{commentText}}</h5>
        <div class="chip">
          <img src="{{commentUser.image}}" alt="">{{commentUser.name}}
        </div>
        <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
      </div>
    </div>
    {{/each}}

    {{/if}}
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{story.author.name}}</span>
        <img src="{{story.author.image}}" alt="Avatar" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/stories/user/{{story.author._id}}">More From {{story.author.name}}</a>
      </div>
    </div>
    <a class="btn waves-effect waves-light" href="/{{back}}">Back</a>
  </div>
</div>